
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>O01_helloJs</title>
    <script type="text/javascript">
        //JSON
        var house = {
            room: 3,
            sharedEntrance: false,
        };
        //alert("Hello Harman")
        //alert(house.room)
        //alert(house.sharedEntrance)
        console.log("rooms", house.room)
        console.log("sharedentrance",sharedEntrance)
    </script>
</head>
<body>
    <h1>A Simple JS Script</h1>
    <div> 
    </div>
</body>
</html>
