
@{
    ViewBag.Title = "Complete";
}

<h2>Completed Tasks</h2>

<h3>Fruits in the salad = @ViewBag.fruits</h3>
<h3>Vegetables in the salad = @ViewBag.vegetable</h3>


<h1 class="bg-success">Job Done</h1>



